body {
    font-family: sans-serif;
    display: flex;
    margin: 0;
}
.sidebar {
    width: 300px;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.graph-area {
    flex: 1;
    height: 100vh;
    position: relative;
}
input[type="text"], .result-box {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.radio-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.jxgbox {
    width: 500px;
    height: 500px;
}
.graph{
    width: 500px;
    height: 500px;
}
.input-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-row span {
    min-width: 30px;
}
.input-row input[type="text"] {
    flex: 1;
    margin-bottom: 0;
}